<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel='stylesheet' href='/css/w31.css'>
    <link rel="stylesheet" href="/css/awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/images/huy.png" style="width:100%" alt="Avatar">
        </div>
        <div class="w3-container">
          <h2>Nguyễn Trọng Huy</h2>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>TP Ho Chi Minh, Viet Nam</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>huy.nguyen22994@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0933990004</p>
          <p><i class="fa fa-facebook fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://www.facebook.com/huynguyen229" target="_blank">https://www.facebook.com/huynguyen229</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>C#</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p class="w3-small"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Front-End</b></p>
          <p>AngularJS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Bootstrap</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>HTML5</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>JQuery</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p class="w3-small"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Back-End</b></p>
          <p>NodeJS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>ASP.NET MVC5</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p class="w3-small"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Database</b></p>
          <p>MongoDB</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p>Ms.SQL and MySQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Good read English, Basic communication English.</p>
          <br>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-instagram fa-fw w3-margin-right w3-text-teal"></i>Soft Skills</b></p>
          <p>Critical thinking, Professional Speaking, Technical writing.</p>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>HUTECH University. (HCM City)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Degree title: Information Technology Engineer</p>
          <p>Subjects included: Management System Database, Object Oriented Programming, Programming Techniques, Software Technology, Information Security, Project Management, Tools and Software Development Environment, Design and Analiysis Database.</p>
          <p>I have joined four projects:</p>
          <ul>
            <li>Sales management software for Ministop (Window Form)</li>
            <li>Website for tourist shop (ASP.NET MVC) <a href="http://huyvu.azurewebsites.net/" target="_blank">http://huyvu.azurewebsites.net/</a></li>
            <li>Website for tourist shop (NodeJs)</li>
            <li>Website for coffee shop (MEAN Stack)</li>
          </ul>
          <p>I worked as a developer and an analysist in these project</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>ISC – Quang Trung (HCM City)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>5/12/2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Subjects included: Working process, Technical Writing,Front-End (Bootstrap, AngularJs, Jquery, HTML), Back-End (NodeJs), Professionnal Speaking, Critical Thinking.</p>
          <p>I have joined one project:</p>
          <ul>
            <li>Human management software center ISC. Web Development with NodeJs, AngularJs and MySQL</li>
          </ul>
          <p>I have worked as a full-stack developer.</p>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>ISC-Quang Trung (HCM City)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Part-time internship</p>
          <p>I have trained about working process (Aglie Scrum),
          write a professional email, professional presentations, practice 
          English, using Git, using Redmine, using Slack.</p>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>HOBBIES AND INTERESTS</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Soccer</b></h5>
          <p>Playing soccer is one of my hobbies. I often play soccer with my friends every weekend.</p>
          <h5 class="w3-opacity"><b>Traveling</b></h5>
          <p>When I have free time, I and my friends often go to somewhere in my country to relax and see how beautiful my country is.</p>
          <h5 class="w3-opacity"><b>Play guitar</b></h5>
          <p></p>
          <h5 class="w3-opacity"><b>Photography</b></h5>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/huynguyen229" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
</footer>

</body>
</html>